body {
    font-family: verdana;
    color: black;
    background-color: rgb(129, 236, 143);
}
p {
    font-size:large;
}

.backing {
    width: 1000px;
    height: 1000px;
    background: rgb(246, 246, 255);
    left:50%;
    position:fixed;
    margin-left: -500px;
}

.centeredText {
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;         
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
button {
    display: inline-block;
    border: none;
    padding: 10px 10px;
    margin: 20px 0px;
    margin-bottom: 50px;
    text-decoration: none;
    background: rgb(202, 39, 88);
    color: white;
    font-family: verdana;
    font-size: medium;
    line-height: 1;
    cursor: pointer;
    text-align: center;    
    border-radius: 20px;
    transition: background 250ms ease-in-out,     
}
.button {
    display: inline-block;
    border: none;
    padding: 10px 10px;
    margin: 20px 0px;
    margin-bottom: 50px;
    text-decoration: none;
    background: rgb(202, 39, 88);
    color: white;
    font-family: verdana;
    font-size: medium;
    line-height: 1;
    cursor: pointer;
    text-align: center;    
    border-radius: 20px;
    transition: background 250ms ease-in-out, 
}
select {
    width: 100%;
    padding: 4px 5px;
    border-radius: 20px;    
    margin: 5px 0px;
    border-color: black;
    border-width: 2px;
    font-family: verdana;
    background-color: rgb(221, 221, 221);
    font-size: medium;
}  